<div id="home-content">
  <div id="front-hero-unit" class="hero-unit">
    <h1 id="main-header">Ben Schreck Shits</h1>
    <p id="subtitle">A 2014 Calendar</p>
    <p>
    <a id="order-button" class="btn btn-primary btn-large" href="/order">
      Preorder yours today!
    </a>
    </p>
  </div>
</div>
