<div id="order-content">
  <div id="front-hero-unit" class="hero-unit">
    <h1 id="main-header">Ben Schreck Shits</h1>
    <p id="subtitle">A 2014 Calendar</p>
    <p>
      <form action="/charge" method="post" class="payment">
        <article>
          <label class="amount">
            <span>Amount: $17.00 (includes shipping)</span>
          </label>
        </article>

        <script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
                data-key="<%= settings.publishable_key %>"></script>
      </form>
    </p>
    <div id="page-content">
    <p>
    Database functionality not online yet.
    </p>
    <p id="pay-text" class="lead">To order, pay above, and send an email to
    benschreckshits_admin@mit.edu with:
    </p>
      <p>Your Name</p>
      <p>Your Email Address</p>
      <p>Your willingness to pick up the calendar from MIT's campus</p>
      <p>Your address (if you are not willing to pick up)<p>
    <!--
       -<ol>
       -  <li>Your Name</li>
       -  <li>Your Email Address</li>
       -  <li>Your willingness to pick up the calendar from MIT's campus</li>
       -  <li>Your address (if you are not willing to pick up)<li>
       -</ol>
       -->
  </div>
  </div>


</div>
