@import url(http://fonts.googleapis.com/css?family=Tangerine:400,700|Montaga);
body {
  background: url(images/lone_toilet.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  font-family: 'Tangerine', cursive;
}
a, p, li {
font-family: 'Montaga', serif;
color: rgb(153,153,153);
}

#top-container {
  padding-right: 0px;
  padding-left: 0px;
  height: 1000px;
}

#navbar {
  margin-bottom: 0px;
}
#navbar-inner, #nav-footer {
  border: 0px solid #d4d4d4;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  padding-left: 0px;
}

#nav {
  padding-top: 2px;
}

#brand-nav {
  margin-left: 0px;
}

#main-content-span {
  position: relative;
  height: 100%;
  margin-left: 0px;

}

#main-content-row {
  position: relative;
  height: 100%;
}

#main-header {
  font-size: 100px;
}

#left-sidebar {
  padding-left: 10px;
  padding-top: 30px;
  min-height: 800px;
  background-color: rgba(0, 0, 0, 0.7);
}
#left-sidebar p{
  color: rgb(153,153,153);
  width: 6%;
}

#center-container-span {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}

#front-hero-unit {
  text-align: center;
  background-color:rgba(153, 153, 153, 0.7);
  color: rgb(0,0,0);

  border: 0px solid #d4d4d4;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  min-height: 200px;
}

#front-hero-unit #page-content p,a {
  color: #000000;
}

#order-back-link, #order-complete-text {
  color: #000000;
}

.btn-primary {
  color: rgb(204,204,204);
  background-color: #000000;
  background-image: linear-gradient(to bottom, #004354, #020316);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: rgb(153,153,153);
  background-color: #04062E;
  *background-color: #3b2800;
}

/*
 *#main-header {
 *  font-size: 60px;
 *  margin-top: 200px;
 *  line-height: 60px;
 *  text-align: center;
 *}
 */

#subtitle {
  color: #000000;
}

#nav-footer-inner {
  height: 26px;
  min-height: 26px;
}

#nav-footer {
  margin-bottom: 15px;
  padding-left: 10px;
}

#nav-footer li {
  height: 25px;
  line-height: 10px;
  font-size: 12px;
  padding-bottom: 0px;
  padding-top: 1px;
}
#nav-footer a {
  height: 20px;
  line-height: 10px;
  font-size: 12px;
  padding-bottom: 0px;
  padding-top: 6px;
}
